.collection {
padding: 60px;
text-align: center;
margin-top:40px;

}


.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 30px;
}


.card img {
width: 100%;
border-radius: 10px;


}


.card {
transition: transform 0.3s;
}


.card:hover {
transform: scale(1.05);
}

.add-cart-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 25px;
  background: linear-gradient(135deg, #8a3c1c, #c97b63);
  color: white;
  cursor: pointer;
}
