.hero {
height: 90vh;
background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
url("https://www.manyavar.com/on/demandware.static/-/Library-Sites-ManyavarSharedLibrary/default/dwe6547122/Ace_Your_Saree_Banner_D.jpg");
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
color: white;
text-align: center;
margin-top: 1px;

}


.hero button {
padding: 12px 30px;
background: goldenrod;
border: none;
cursor: pointer;
}